

body{
    background: -webkit-linear-gradient( right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../date/spy.jpg") no-repeat;
    font-family: Verdana;
}

#titlu{
    color: red;
    position: absolute;
    padding-left: 110px;
    font-size: 1.5em;
    margin-top: 100px;

}

#container    {
    width: 500px;
    height: 500px;
    margin: 0px;
    border: 0px;
    color: red;
    margin: auto;
    background-color: #101a29;
    position: relative;
    top: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px white;
}

#test {
    width: 410px;
    border: red 2px solid;
    position: absolute;
    top: 180px;
    left: 25px;
    padding: 0px 20px 20px 20px;

}

#test_status{
    position: absolute;
    padding-left: 150px;
    padding-top: 50px;
}

#button{
    position: absolute;
    top: 440px;
    left: 200px;
}

.menu {
    list-style-type: none;
    width: 396px;
    padding: 0px;
    margin: auto;
}

.menu li {
    width: 120px;
    height: 40px;
    margin:0px 4px;
    border: 2px solid;
    border-radius: 5px;
    border-color: #265385;
    positon: absolute;
    float: left;
    background-color: #101a29;
    font-size: 1.2em
}

.menu :hover{
    background-color: #265385;
    border-radius: 5px;
}

.menu a {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
}
#login {
    margin-top: 80px;
    margin-left: 40%;
}