body{
    background-image: url("spy.jpg");

}

#titlu{
    color: red;
    position: absolute;
    padding-left: 150px;
    font-family: "Monotype Corsiva";
    font-size: 30px;
    margin-top: 100px;

}

#container    {
    width: 500px;
    height: 500px;
    margin: 0px;
    border: 0px;
    color: red;
    margin: auto;
    background-color: #101a29;
    position: relative;
    top: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px white;
}

#test {
    width: 200px;
    border: red 3px solid;
    position: absolute;
    top: 180px;
    left:85px;
    padding: 10px 40px 40px 40px;

}

#test_status{
    position: absolute;
    padding-left: 150px;
    padding-top: 50px;
}

#button{
    position: absolute;
    top: 440px;
    left: 200px;
}

.menu {
    list-style-type: none;
    width: 396px;
    padding: 0px;
    margin: auto;
}

.menu li {
    width: 120px;
    height: 40px;
    margin:0px 4px;
    border: 2px solid black;
    border-radius: 5px;
    positon: absolute;
    float: left;
    background-color: yellow;
}

.menu :hover{
    background-color: white;
    border-radius: 5px;
}

.menu a {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
}